.style-card_Solo {
    margin-bottom: 5%;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Footer-button_display2 {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}