.style-card {
margin: 0;
overflow: hidden;
}

.style-card_Solo {
    margin-bottom: 5%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Footer-button_display2 {
    width: 100%;

}