.style-card {
    background-color: #40302D;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.display_Button-align {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Footer-button_display {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    margin: auto;
}

.bouton-left {
    margin-right: 1%;
}

.bouton-right {
    margin-left: 1%;
}

.fa-question-circle, .fa-skull-crossbones, .fa-heartbeat {
    font-size: 50px;
}

.form-Disposition {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.color-Textfield {
    background-color: #C2A878;
    border-radius: 5px;
    margin-bottom: 10%;
}

.display-input_form {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 40px;
    margin-bottom: 50px;
    border: black 2px solid;
}

.display-Filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
}

.img-Size {
    height: 400px;
    width: 85%;
    margin: auto;
    border-radius: 2px;
}



@media screen and (min-width: 900px) {
    .img-Size {
        height: 600px;
        width: 45%;
        margin: auto;
        border-radius: 20px;
    }
}