.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-displaying {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  color: black;
  margin: auto;
}

.style_li {
  text-decoration: none;
}

